name: Build

on:
  push:
    branches:
      - "master"
  workflow_dispatch: {}


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  SETUP_BUILDX_VERSION: "edge"
  REPO_SLUG_TARGET: "sectorlabs/buildkit"

jobs:
  image:
    name: Image

    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        flavor:
          - ''
          - 'rootless'

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to Packages Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: ${{ env.SETUP_BUILDX_VERSION }}
          driver-opts: image=ghcr.io/sectorlabs/buildkit:latest

      - name: Compute BuildKit version
        run: echo "BUILDKIT_VERSION=$(cat ./Dockerfile | sed -nr 's/ARG BUILDKIT_VERSION=(.*)/\1/p')" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            ghcr.io/${{ env.REPO_SLUG_TARGET }}:${{ env.BUILDKIT_VERSION }}
            ghcr.io/${{ env.REPO_SLUG_TARGET }}:${{ matrix.flavor == '' && 'latest' || 'rootless' }}
          target: ${{ matrix.flavor }}
          cache-to: type=gha,mode=max,ignore-error=true
          cache-from: type=gha

  tag:
    name: Tag Stable

    runs-on: ubuntu-24.04

    needs: [image]

    permissions:
      contents: read
      actions: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Dispatch Tag Stable Workflow
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run "stable.yml" --ref ${{ github.ref }} -f source-tag=latest -f dest-tag=buildx-stable-1 -f dry-run=false
